<main class="blog-category">
  <section class="site-breadcrumb">
    <div class="container">
      <h2 class="breadcrumb-title">GIỚI THIỆU</h2>
      <ul class="breadcrumb-menu">
        <li><a href="/">Trang chủ</a></li>
        <li class="active">Giới thiệu</li>
      </ul>
    </div>
  </section>
  <section class="section-about-content">
    <div class="container" style="padding: 20px 0px">
      <%= raw @about.trick_content(@about.content)%>
    </div>
  </section>
</main>



