@import "common";
body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
}
a {
    display: inline-block;
    text-decoration: none;
}
a:hover {
    text-decoration: none !important;
}
p {
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 1200px !important;
}

// ----- Header ----- //
.site-header {
    .header-top {
        .box-languages-search {
            .language {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media screen and (max-width: 767px) {
                    justify-content: center;
                }
                .box-language {
                    margin: 15px 0;
                    ul {
                        display: flex;
                        li {
                            &:first-child {
                                margin-right: 5px;
                            }
                        }
                    }
                }
                .logo-nuti {
                    @media screen and (max-width: 767px) {
                        margin-left: 20px;
                    }
                }
            }
            .search {
                .search-box {
                    position: relative;
                    .search-input {
                        padding: 5px 10px;
                        width: 100%;
                    }
                    .search-button {
                        position: absolute;
                        top: 5px;
                        right: 0;
                        border: none;
                        outline: none;
                        background: none;
                        i {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .header-main {
        margin-top: 15px;
        background-color: $primary-color;
        .main-navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: 991px) {
                display: block;
            }
            .box-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media screen and (min-width: 992px) {
                    display: none;
                }
                .toggle-menu {
                    border: none;
                    outline: none;
                    background: $second-color;
                    color: #fff;
                    font-size: 24px;
                }
                .social-link-mb {
                    ul {
                        display: flex;
                        align-items: center;
                        li {
                            &:first-child {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            #top-menu {
                display: flex;
                margin-bottom: 0px;
                @media screen and (max-width: 991px) {
                    display: none;
                    &.active {
                        display: block;
                    }
                }
                li {
                    a {
                        position: relative;
                        color: #fff;
                        padding: 15px;
                        text-transform: uppercase;
                        @media screen and (max-width: 991px) {
                            display: block;
                            padding: 10px 15px;
                        }
                        &::before {
                            display: none;
                            content: "";
                            width: 0;
                            height: 0;
                            border-left: 15px solid transparent;
                            border-right: 15px solid transparent;
                            border-top: 14px solid $second-color;
                            position: absolute;
                            bottom: -25%;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            z-index: 99;
                        }
                        &:hover {
                            background-color: $second-color;
                            @media screen and (min-width: 992px) {
                                &::before {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .social-link {
                @media screen and (max-width: 991px) {
                    display: none;
                }
                ul {
                    display: flex;
                    align-items: center;
                    li {
                        &:first-child {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}
main {
    .banner {
        margin: 20px 0px;
        img {
            width: 100%;
        }
    }
    .category {
        .category-item {
            margin-bottom: 24px;
            figure {
                margin: 0;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        min-height: 250px;
                        max-height: 250px;
                        object-fit: cover;
                        @media screen and (max-width: 767px) {
                            min-height: 200px;
                            max-height: 200px;
                        }
                    }
                }
                figcaption {
                    background-color: #e5e5e5;
                    margin: 10px 0 0;
                    padding: 25px 15px 15px;
                    h3 {
                        font-size: 18px;
                        margin: 0 0 15px;
                        line-height: 1.4em;
                        min-height: 2.8em;
                        text-transform: uppercase;
                        a {
                            color: $primary-color;
                        }
                    }
                    .desc {
                        font-size: 14px;
                        color: #333333;
                        margin: 0 0 15px;
                        @media screen and (min-width: 768px) {
                            min-height: 130px;
                        }
                    }
                    a.readmore {
                        color: #9c9c9c;
                        text-align: right;
                        width: 100%;
                        text-decoration: none;
                        text-transform: uppercase;
                        display: block;
                        .fa {
                            background-color: #9c9c9c;
                            color: #ffffff;
                            width: 14px;
                            height: 14px;
                            -webkit-border-radius: 50%;
                            -moz-border-radius: 50%;
                            border-radius: 50%;
                            -moz-background-clip: padding;
                            -webkit-background-clip: padding-box;
                            background-clip: padding-box;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
.site-footer {
    background-color: $primary-color;
    margin: 25px 0 0;
    padding: 15px 0;
    .copyright {
        p {
            margin: 0;
            color: #fff;
        }
    }
    .social-footer {
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                &:first-child {
                    margin-right: 5px;
                }
            }
        }
    }
}
.section-blog {
    padding: 100px 0;
}
.site-breadcrumb {
    background-image: asset-url("banner-breadcrumb.jpg");
    text-align: center;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .breadcrumb-title {
        font-size: 40px;
        color: #fff;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .breadcrumb-menu {
        li {
            position: relative;
            display: inline-block;
            margin-left: 25px;
            text-transform: capitalize;
            color: #fff;
            a {
                color: #fff;
                text-decoration: none;
            }
            &::before {
                position: absolute;
                content: "\f101";
                font-family: "Font Awesome 6 Pro";
                right: -21px;
                top: 1px;
                text-align: center;
                font-size: 16px;
                color: #fff;
            }
            &:first-child {
                margin-left: 0;
            }
            &.active {
                color: $second-color;
                &::before {
                    display: none;
                }
            }
        }
    }
}
// -----Blog Item----- //
.blog-item-student{
    height: 400px !important;
}

.blog-item {
    margin-bottom: 25px;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease-in-out;
    height: 540px;
    .blog-item-img {
        overflow: hidden;
        border-radius: 15px;
        img {
            border-radius: 15px;
            min-height: 250px;
            max-height: 250px;
            width: 100%;
            object-fit: cover;
        }
    }
    .blog-item-info {
        padding: 15px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .blog-title {
            font-size: 22px;
            margin-bottom: 15px;
            text-transform: capitalize;
            a {
                color: $primary-color;
                &:hover {
                    color: $second-color;
                }
            }
        }
        .blog-item-meta {
            margin-bottom: 14px;
            border-bottom: 1px solid #e6e8eb;
            padding-bottom: 18px;
            ul {
                li {
                    display: inline-block;
                    margin-right: 15px;
                    position: relative;
                    color: $second-color;
                    a {
                        color: $second-color;
                        &:hover {
                            color: $primary-color;
                        }
                        i {
                            color: $primary-color;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        p {
            margin-bottom: 16px;
        }
        .btn-theme {
            i {
                margin-left: 5px;
            }
        }
    }
    &:hover {
        .blog-item-img {
            img {
                transform: scale(1.1);
            }
        }
    }
}
// -----Button----- //
.btn-theme {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.5s;
    text-transform: capitalize;
    position: relative;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border: none;
    background: $primary-color;
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.12);
    text-decoration: none;
    z-index: 1;
    i {
        margin-right: 5px;
    }
    &::before {
        content: "";
        height: 450px;
        width: 450px;
        background: $second-color;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) scale(0);
        transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &::before {
            transform: translateY(-50%) translateX(-50%) scale(1);
        }
    }
}
// -----Pagination----- //

// -----Blog detail----- //
.single {
    .site-main {
        .section-blog-detail {
            margin-top: 50px;
            @media screen and (max-width: 767px) {
                margin-top: 30px;
            }
            .blog-title {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 20px;
                color: $primary-color;
                @media screen and (max-width: 767px) {
                    font-size: 28px;
                }
            }
            p {
                font-size: 18px;
                margin-bottom: 18px;
                color: #000;
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                }
            }
            h3 {
                font-size: 20px;
                font-weight: 500;
                color: $primary-color;
                @media screen and (max-width: 767px) {
                    font-size: 18px;
                }
            }
            ul {
                margin-bottom: 18px;
                font-size: 18px;
                color: #000;
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
    }
}
//media

.section-media {
    padding-bottom: 50px;
}
.media-item {
    margin-bottom: 25px;
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.05);
    .media-item-img {
        overflow: hidden;
        border-radius: 15px;
        position: relative;
        img {
            border-radius: 15px;
            min-height: 300px;
            max-height: 300px;
            width: 100%;
            object-fit: cover;
        }
        .overplay {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                font-size: 50px;
                color: #fff;
            }
        }
    }
    .media-item-info {
        padding: 15px 0 0;
        .media-title {
            font-size: 16px;
            margin-bottom: 0;
            text-transform: capitalize;
            text-align: center;
            color: $primary-color;
        }
    }
}

.title-search{
    .search-wapper{
        padding: 30px 0px;
        border-bottom: 1px solid #ccc;
        h2{
            color: #009c31;
            font-weight: bold
        }
    }
}

.list-search{
    .post-search-item{
        padding: 20px 0px;
        border-bottom: 1px solid #ccc;
        .link-to-post-item{
            h4{
                color: $primary-color !important;
                &:hover{
                    color: #0a6f2a;
                }
            }

            div{
                color: black !important;
            }
        }
    }
    .search-result{
        margin-top: 20px !important;
        color: red;
    }
}

.search-wapper{
    padding: 0px 0px !important;
    margin-top: 20px;
    .search-input{
        width: 30%;
    }
    .btn-search{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 10px;
        background-color: $primary-color;
        color: white;
        max-height: 38px;
        margin-left: 10px;
        border-radius: 10px;
    }
}

