<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
        <a class="nav-link" href="/admin/trang-chu">
            <i class="fas fa-tachometer-average"></i>
            <span class="menu-title">Dashboard</span>
        </a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="/admin/gioi-thieu">
            <i class="fa-sharp fa-regular fa-address-card menu-icon"></i>
            <span class="menu-title">Giới thiệu</span>
        </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#collapseArticle" aria-expanded="false"
                aria-controls="collapseArticle">
                <i class="fas fa-graduation-cap menu-icon"></i>
                <span class="menu-title">Đào tạo</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="collapseArticle">
                <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/khoa-hoc">Khoá học</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/hoc-vien">Học viên</a></li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#collapseCategory" aria-expanded="false"
            aria-controls="collapseCategory">
            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
            <span class="menu-title">Phân loại - bài viết</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="collapseCategory">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/the-loai">Phân loại tin</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/bai-viet">Bài viết</a></li>
            </ul>
        </div>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="/admin/lien-he">
            <i class="fa fa-phone-square" aria-hidden="true"></i>
            <span class="menu-title">Liên hệ</span>
        </a>
        </li>

        </li>

        <% if current_user.supper_admin? %>
            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="fa fa-key" aria-hidden="true"></i>
                <span class="menu-title">Tài khoản - phân quyền</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/phan-quyen">Phân quyền</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/nguoi-dung">Tài khoản</a></li>
                </ul>
            </div>
            </li>
        <% end %>

        <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#media" aria-expanded="false" aria-controls="auth">
            <i class="fas fa-photo-video"></i>
            <span class="menu-title">Media</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="media">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/hinh-anh">Thư viện ảnh</a></li>
            <%# <li class="nav-item"> <a class="nav-link" href="/admin/tai-khoan/sign_up">Thêm tài khoản mới</a></li> %>
            </ul>
        </div>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fa-solid fa-house menu-icon"></i>
            <span class="menu-title">Trang chủ</span>
        </a>
        </li>
    </ul>
</nav>
