<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-item-home">
        <a class="nav-link" href="/admin">
            <i class="fas fa-tachometer-average"></i>
            <span class="menu-title">Dashboard</span>
        </a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="/admin/gioi-thieu">
            <i class="fa-sharp fa-regular fa-address-card menu-icon"></i>
            <span class="menu-title">Giới thiệu</span>
        </a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="/admin/banners">
            <i class="fas fa-network-wired"></i>
            <span class="menu-title">Banner</span>
        </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#collapseArticle" aria-expanded="false"
                aria-controls="collapseArticle">
                <i class="fas fa-graduation-cap menu-icon"></i>
                <span class="menu-title">Đào tạo</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="collapseArticle">
                <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/khoa-hoc">Khoá học</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/hoc-vien">Học viên</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/huan-luyen-vien">Huấn luyện viên</a></li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#collapseCategory" aria-expanded="false"
            aria-controls="collapseCategory">
            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
            <span class="menu-title">Phân loại - bài viết</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="collapseCategory">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/the-loai">Phân loại tin</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/bai-viet">Bài viết</a></li>
            </ul>
        </div>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="/admin/lien-he">
            <i class="fa fa-phone-square" aria-hidden="true"></i>
            <span class="menu-title">Liên hệ</span>
        </a>
        </li>

        </li>

        <% if current_user.supper_admin? %>
            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="fa fa-key" aria-hidden="true"></i>
                <span class="menu-title">Tài khoản - phân quyền</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/phan-quyen">Phân quyền</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/nguoi-dung">Tài khoản</a></li>
                </ul>
            </div>
            </li>
        <% end %>

        <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#media" aria-expanded="false" aria-controls="auth">
            <i class="fas fa-photo-video"></i>
            <span class="menu-title">Media</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="media">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="/admin/hinh-anh">Thư viện ảnh</a></li>
            <%# <li class="nav-item"> <a class="nav-link" href="/admin/tai-khoan/sign_up">Thêm tài khoản mới</a></li> %>
            </ul>
        </div>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fa-solid fa-house menu-icon"></i>
            <span class="menu-title">Trang chủ</span>
        </a>
        </li>
    </ul>
</nav>
<script>
    $(document).ready(function(){
        var body = $('body');
    var contentWrapper = $('.content-wrapper');
    var scroller = $('.container-scroller');
    var footer = $('.footer');
    var sidebar = $('.sidebar');

    //Add active class to nav-link based on url dynamically
    //Active class can be hard coded directly in html file also as required

    function addActiveClass(element) {
      if (current === "admin") {
        //for root url
        if (element.attr('href').indexOf("/") !== -1) {
          element.parents('.nav-item-home').last().addClass('active');
        }
      } else {
        //for other url
        if (element.attr('href').indexOf(current) !== -1) {
          element.parents('.nav-item').last().addClass('active');
          if (element.parents('.sub-menu').length) {
            element.closest('.collapse').addClass('show');
            element.addClass('active');
          }
          if (element.parents('.submenu-item').length) {
            element.addClass('active');
          }
        }
      }
    }

    var current = location.pathname.split("/").slice(-1)[0].replace(/^\/|\/$/g, '');
    $('.nav li a', sidebar).each(function() {
      var $this = $(this);
      addActiveClass($this);
    })

    $('.horizontal-menu .nav li a').each(function() {
      var $this = $(this);
      addActiveClass($this);
    })

    //Close other submenu in sidebar on opening any

    sidebar.on('show.bs.collapse', '.collapse', function() {
      sidebar.find('.collapse.show').collapse('hide');
    });


    //Change sidebar and content-wrapper height
    applyStyles();

    function applyStyles() {
      //Applying perfect scrollbar
      if (!body.hasClass("rtl")) {
        if ($('.settings-panel .tab-content .tab-pane.scroll-wrapper').length) {
          const settingsPanelScroll = new PerfectScrollbar('.settings-panel .tab-content .tab-pane.scroll-wrapper');
        }
        if ($('.chats').length) {
          const chatsScroll = new PerfectScrollbar('.chats');
        }
        if (body.hasClass("sidebar-fixed")) {
          if($('#sidebar').length) {
            var fixedSidebarScroll = new PerfectScrollbar('#sidebar .nav');
          }
        }
      }
    }

    $('[data-toggle="minimize"]').on("click", function() {
      if ((body.hasClass('sidebar-toggle-display')) || (body.hasClass('sidebar-absolute'))) {
        body.toggleClass('sidebar-hidden');
      } else {
        body.toggleClass('sidebar-icon-only');
      }
    });

    //checkbox and radios
    $(".form-check label,.form-radio label").append('<i class="input-helper"></i>');

    //Horizontal menu in mobile
    $('[data-toggle="horizontal-menu-toggle"]').on("click", function() {
      $(".horizontal-menu .bottom-navbar").toggleClass("header-toggled");
    });
    // Horizontal menu navigation in mobile menu on click
    var navItemClicked = $('.horizontal-menu .page-navigation >.nav-item');
    navItemClicked.on("click", function(event) {
      if(window.matchMedia('(max-width: 991px)').matches) {
        if(!($(this).hasClass('show-submenu'))) {
          navItemClicked.removeClass('show-submenu');
        }
        $(this).toggleClass('show-submenu');
      }
    })

    $(window).scroll(function() {
      if(window.matchMedia('(min-width: 992px)').matches) {
        var header = $('.horizontal-menu');
        if ($(window).scrollTop() >= 70) {
          $(header).addClass('fixed-on-scroll');
        } else {
          $(header).removeClass('fixed-on-scroll');
        }
      }
    });
  });

  // focus input when clicking on search icon
  $('#navbar-search-icon').click(function() {
    $("#navbar-search-input").focus();
  });


  </script>
